@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fa-times,.fa-bars{
  cursor: pointer;
  transition: 0.5s !important;
  display: none;
}
body {
  overflow-x: hidden;
  transition: 0.5s;
}
html{
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  text-decoration-line: none;
}

/* Loader */

.loader {
  background: #fff;
  background: radial-gradient(rgb(211, 199, 199), rgb(214, 174, 174));
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}

.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Navbar */
.navbar {
 
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: auto; */
  position: fixed;
  top: 0px;
  width: 100vw;
  color: #1d0d0d;
  font-family: 'Lato', sans-serif;
  -webkit-box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
  box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
  background-color: #fff;
  z-index: 450;
}
.logo{
  position: absolute;
  left: 2%;
}
.logo img {
  height: auto;
  width: 90px;
}

/* fa fa */
.fa-times,
  .fa-bars {
    position: absolute;
    right: 4%;
    top: 45%;
    font-size: 1.3rem;
  }

.fa-times{
  display: none;
}
.fa-bars{
  display: none;
}


/* links */
.links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  /* position: absolute;
  right: 10%; */
}

.links a{
  margin: auto 11px;
      text-align: center;
}

.dropdown {
  float: left;
  overflow: hidden;
  display: flex;
      align-items: center;
    justify-content: center;
}
.dropdown-content .fa-times{
  display:none;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
 color: rgb(42, 157, 143);
    cursor: pointer;
    font-weight: 400;
}

.dropdown-content {
  transform: translateX(100%);
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  top: 92px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 21;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content.active {
  transform: translateX(0);
}
.dropdown h3{
  color:#7e3f3f;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 24.33%;
  
  
 height: auto;
}

.column a {
  float: none;
  color: #1d0d0d;
  font-weight: 500;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

.drop-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/* Container */
.terms {
  margin-top: 59px;
  padding: 44px;
  margin-bottom: 20px;
  padding-top: 61px;

  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}

.cont h2 {
  color: #276ba7;
}
.cont .mar {
  width: 45%;
  margin: auto;
  margin: 15px auto;
  color: rgb(42, 157, 143);
}
.cont p {
  line-height: 1.9;
  font-size: 1 rem;
  margin-bottom: 15px;
  margin-top: 12px;
  color: #805a5a;
}

.cont h3 {
  color: rgb(42, 157, 143);
}

/* Footer */

.footer {
  margin-top: 45px;
  background-color: #20333a;
  color: rgb(235, 224, 224);
  height: 272px;
  position: relative;
  /* color: rgb(199, 162, 162); */
}

.foot-cont {
  position: absolute;
  top: 26%;
  width: 90%;
  margin: auto;
  left: 3%;
}

.foot-row {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  position: relative;
}

.foot-row .f-col-1 {
  line-height: 6;
  display: flex;
}

.f-col-1 a {
  cursor: pointer;
  font-size: 20px;
}

.f-col-1 a:hover {
  color: red;
}

.f-col-1 a:nth-child(1) {
  margin-right: 80px;
}

.foot-row .f-col-2 {
  position: absolute;
  right: 43%;
}
.foot-row .f-col-2 img {
  height: 123px;
  width: "150px ";
}

.foot-row .f-col-3 {
  line-height: 9;
  position: absolute;
  right: 0;
}

.f-col-3 i {
  font-size: 36px;
  margin: auto 12px;
  cursor: pointer;
}

.f-col-3 i:hover {
  color: tomato;
}

.foot-cont-2 {
  position: absolute;
  /* position: absolute; */
  bottom: 5%;
  width: 100%;
}
.footer h3 {
  text-align: center;
  margin: 6px auto;
  font-size: 18px;
}

@media screen and (max-width: 630px) and (min-width: 430px) {
  .cont p {
    line-height: 1.7;
    text-align: justify;
  }
}

@media screen and (max-width: 410px) {
  .cont p {
    line-height: 1.4;
    text-align: justify;
    font-size: 1rem;
  }
}

@media screen and (max-width: 510px) {
  .privacy {
    padding: 20px;
  }
}

@media screen and (max-width: 1000px) {
  
  
  .fa-times {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .logo {
    left: 6%;
  }
  /* overlay */
  .over-text {
    font-size: 1.9rem;
    height: 282px;
  }
}

/* Footer Responsive */

@media screen and (max-width: 1234px) and (min-width: 1000px) {
  /* footer */
  
  .f-col-1 a:nth-child(1) {
    margin-right: 35px;
  }
  .f-col-1 a {
    cursor: pointer;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  /* footer */

  .foot-row .f-col-1 {
    line-height: 6;
    display: flex;
    position: absolute;
    left: 0%;
  }

  .f-col-1 a:nth-child(1) {
    margin-right: 32px;
  }
  .f-col-1 a {
    cursor: pointer;
    font-size: 16px;
    line-height: 9;
  }
  .f-col-3 i {
    font-size: 30px;
    margin: auto 16px;
    cursor: pointer;
  }
  .foot-row .f-col-2 {
    position: absolute;
    right: 44%;
  }

  .foot-row .f-col-2 img {
    height: 106px;
    width: 120px;
  }
  .foot-row .f-col-3 {
    line-height: 9;
    position: absolute;
    right: 1%;
  }

  .foot-cont-2 h3 {
    font-size: 21px;
  }
  .foot-cont {
    position: absolute;
    top: 26%;
    width: 97%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  /* footer */
  .foot-cont {
    height: 120px;
  }
  .foot-row {
    height: 100%;
  }

  .foot-row .f-col-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    line-height: unset;
    left: 0%;
    bottom: 25%;
  }

  .f-col-1 a:nth-child(1) {
    margin-right: unset;
    margin-bottom: 5px;
  }
  .f-col-1 a {
    cursor: pointer;
    font-size: 16px;
    line-height: unset;
  }
  .f-col-3 i {
    font-size: 23px;
    margin: auto 10px;
    cursor: pointer;
  }
  .foot-row .f-col-2 {
    position: absolute;
    right: 42%;
  }

  .foot-row .f-col-2 img {
    height: 106px;
    width: 120px;
  }
  .foot-row .f-col-3 {
    line-height: 8.4;
    position: absolute;
    right: 1%;
  }

  .foot-cont-2 h3 {
    font-size: 17px;
  }
  .foot-cont {
    position: absolute;
    top: 26%;
    width: 97%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
  /* footer */
  .foot-cont {
    height: 120px;
  }
  .foot-row {
    height: 100%;
  }

  .foot-row .f-col-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    line-height: unset;
    left: 0%;
    bottom: 25%;
  }

  .f-col-1 a:nth-child(1) {
    margin-right: unset;
    margin-bottom: 5px;
  }
  .f-col-1 a {
    cursor: pointer;
    font-size: 14px;
    line-height: unset;
  }
  .f-col-3 i {
    font-size: 19px;
    margin: auto 9px;
    cursor: pointer;
  }
  .foot-row .f-col-2 {
    position: absolute;
    right: 42%;
  }

  .foot-row .f-col-2 img {
    height: 99px;
    width: 109px;
  }
  .foot-row .f-col-3 {
    line-height: 8.2;
    position: absolute;
    right: 1%;
  }

  .foot-cont-2 h3 {
    font-size: 15px;
  }
  .foot-cont {
    position: absolute;
    top: 26%;
    width: 97%;
  }
}
@media only screen and (max-width: 500px) and (min-width: 400px) {
  /* footer */
  .foot-cont {
    height: 120px;
  }
  .foot-row {
    height: 100%;
  }

  .foot-row .f-col-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    line-height: unset;
    left: 0%;
    bottom: 28%;
  }

  .f-col-1 a:nth-child(1) {
    margin-right: unset;
    margin-bottom: 5px;
  }
  .f-col-1 a {
    cursor: pointer;
    font-size: 12px;
    line-height: unset;
  }
  .f-col-3 i {
    font-size: 15px;
    margin: auto 7px;
    cursor: pointer;
  }
  .foot-row .f-col-2 {
    position: absolute;
    right: 42%;
  }

  .foot-row .f-col-2 img {
    height: 92px;
    width: 87px;
  }
  .foot-row .f-col-3 {
    line-height: 8;
    position: absolute;
    right: 1%;
  }

  .foot-cont-2 h3 {
    font-size: 15px;
  }
  .foot-cont {
    position: absolute;
    top: 26%;
    width: 97%;
  }
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  /* footer */
  .footer {
    height: 232px;
  }
  .foot-cont {
    height: 120px;
  }
  .foot-row {
    height: 100%;
  }

  .foot-row .f-col-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    line-height: unset;
    left: 0%;
    bottom: 44%;
  }

  .f-col-1 a:nth-child(1) {
    margin-right: unset;
    margin-bottom: 5px;
  }
  .f-col-1 a {
    cursor: pointer;
    font-size: 10px;
    line-height: unset;
  }
  .f-col-3 i {
    font-size: 13px;
    margin: auto 5px;
    cursor: pointer;
  }
  .foot-row .f-col-2 {
    position: absolute;
    right: 42%;
  }

  .foot-row .f-col-2 img {
    height: 84px;
    width: 72px;
  }
  .foot-row .f-col-3 {
    line-height: 5.5;
    position: absolute;
    right: 0%;
  }

  .foot-cont-2 h3 {
    font-size: 11px;
  }
  .foot-cont {
    position: absolute;
    top: 26%;
    width: 97%;
  }

  .foot-cont-2 {
    position: absolute;
    /* position: absolute; */
    bottom: 7%;
    width: 100%;
  }
}



/* navbar */
@media only screen and (max-width: 1000px) and (min-width: 300px) {
  /* navbar */
    /* .links{
      display: none!important;
    }
   */
  .fa-times {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .logo {
    left: 6%;
  }

.links{
  position: absolute;
  top: 90px;
  /* display: block; */
  display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
      height: calc(100vh - 92px);
    right: -80vw;
    width: 80vw;

}

.dropdown{
  overflow: unset;
}



.dropdown-content{
  background-color: white;
      height: 100vh;
    position: absolute;
    top: 0;
    z-index: 500;
  transition: transform 0.5s ease;
}

.dropdown-content .fa-times{
  display: block;
  position: absolute;
  left: 5%;
  top: 5%;
}








}

@media only screen and (max-width: 1000px) and (min-width: 100px) {
    .links a{
    margin: 0 11px;
  }  

  .drop-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    top: 5%;
}
.column{
  width: unset;
}
.column a{
  text-align: center;
}

.dropdown h3 {
    color: #7e3f3f;
    text-align: center;
    margin-top: 12px;
    font-size: 1.6rem;
}





}